{% extends 'base.html' %}

{% load static %}

{% block meta %}
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
<style>
    body{
        background-color: #21201f;
    }
    .tablestyle {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 500px;
        min-height: 100px;
        background: #4A503D;
        border-radius: 30px;
        padding: 40px;
        box-sizing: border-box;
        font-family: 'Poppins',sans-serif;
        color: #fff;
        text-align: left;
        box-shadow:
    inset 
    0.3em 0.3em 2em rgba(36, 35, 35, 0.6);
  } 

  .tablestyle input[type="text"],
.tablestyle input[type="number"],
.tablestyle textarea {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #f2f2f2;
  border-radius: 10px;
  margin-bottom: 10px;
}

.tablestyle input[type="submit"] {
background-color: #fff;
  color: #4A503D;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: fff-color 0.3s ease;
}

.tablestyle input[type="submit"]:hover {
  background-color: #f0f2ec;
}


  .header {
    font-family: 'Poppins',sans-serif;
    text-align: center;
    margin-top: 20px;
    color: #fff;
    
  }

  .background .shape{
        height: 200px;
        width: 200px;
        position: absolute;
        border-radius: 50%;
    }
    .shape:first-child{
        background: linear-gradient(
            #ce8176,
            #edbbb3
        );
        left: -80px;
        top: -80px;
    }
    .shape:last-child{
        background: linear-gradient(
            to right,
            #dec26e,
            #FAF2DA
        );
        right: -30px;
        bottom: -80px;
    }


</style>


{% endblock meta %}

{% block content %}

<div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
</div>

<div class="header">
    <h1>Add New Product</h1>
</div>

<form method="POST">
    {% csrf_token %}
    <div class = "tablestyle">
    <table>
        {{ form.as_table }}
        <tr>
            <td></td>
            <td>

                <input type="submit" value="Add New Product"/>
            </td>
        </tr>
    </table>
</div>
</form>

{% endblock content %}