
{% extends 'base.html' %}

{% block content %}
<h1>Mochi Pacils</h1>

    <h5>Name:</h5>
    <p>{{name}}</p>

    <h5>Class:</h5>
    <p>{{kelas}}</p>

    <h5>App Name:</h5>
    <p>{{app_Name}}</p>

    {% load static %}
    <img src="{% static 'inventori/mochipict.jpg' %}">

    <table>
        <tr>
            <th>Product</th>
            <th>Price</th>
            <th>Description</th>
            <th>Amount</th>

        </tr>

        {% comment %} Berikut cara memperlihatkan data produk di bawah baris ini {% endcomment %}

        {% for product in products %}
            <tr>
                <td>{{product.product}}</td>
                <td>{{product.price}}</td>
                <td>{{product.description}}</td>
                <td>{{product.amount}}</td>
                <td>
                    <a href="{% url 'main:reduce_stock' product.id %}">
                        <button>-</button>
                    </a>
                    {{product.amount}}
                    <a href="{% url 'main:add_stock' product.id %}">
                        <button>+</button>
                    </a>
                    </td>
                    <td>{{product.date_added}}</td>
                    <td>
                        <a href="{% url 'main:delete' product.id %}">
                            <button>delete</button>
                        </a>
                </td>
            </tr>
        {% endfor %}
    </table>

    <br />

    <a href="{% url 'main:create_product' %}">
        <button>
            Add New Product
        </button>
    </a>

    <a href="{% url 'main:logout' %}">
        <button>
            Logout
        </button>
    </a>

    <h5>Sesi terakhir login: {{ last_login }}</h5>

{% endblock content %}
